# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# macOS Finder / metadata
*.DS_Store
*.swp
*.swo


.vscode/
.idea/
*.log